<a href="https://colab.research.google.com/github/05-cam/colab/blob/main/CLASE_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones para tipos de datos.

La función `type()` regresa el tipo de dato o clase a la que pertenece un objeto el cual es ingresado como argumento con la siguiente sintaxis:

`type(<objeto>)`

**Ejemplos:**

Las siguientes celdas utlizarán la función type() para conocer el tipo de datos del que se trata.

In [ ]:
type("Hola")

In [1]:
type(b"Hola")

bytes

In [ ]:
type(12)

In [ ]:
type(12.)

In [ ]:
type(23j)

In [ ]:
type(True)

In [ ]:
type([1, 2, 3])

In [ ]:
type((1, 2, 3))

In [ ]:
type({1, 2, 3})

In [2]:
type({'uno': '1'})

dict

## La función int().
Esta función transforma un objeto compatible que es ingresado como argumento a un objeto tipo int.

La sintaxis es la siguiente:

`int(<objeto>)`



*   Es posible convertir objetos de tipo `str `que representen correctamente a un número entero.
*   Los objetos de tipo `float` son truncados en la parte entera.
*  ** True** es convertido en 1.
*   **False** es convertido en 0.
*   La función `int()` no es compatible con objetos tipo **complex**.


**Ejemplo:**
La siguiente celda convertirá en un objeto **int** al objeto de tipo **bool** que se ingresa como argumento.

In [ ]:
int(True)

El argumento de la siguiente celda contiene una representación correcta de un entero negativo, por lo que la función **int()** podrá realizar la conversión correctamente.

In [ ]:
int("-12")

El argumento de la siguiente celda no contiene una representación correcta de un número entero, por lo que la función **int()** será incapaz de realizar la conversión y desencadenará un error de tipo **ValueError**.

In [ ]:
int("28.8")

In [ ]:
int(b"12")

El argumento de la siguiente celda no contiene una representación correcta de un número entero, por lo que la función **int()** será incapaz de realizar la conversión y desencadenará un error de tipo **ValueError**.

In [ ]:
int('Hola')

Los argumentos de las siguiente celdas contienen objetos tipo float, por lo que la función int() truncará el valor a enteros.

In [ ]:
int(5.6)

In [ ]:
int(-5.3)

Los argumentos de las siguientes celdas son objetos de tipo complex, por lo que la función int() será incapaz de realizar la conversión y desencadenará un error de tipo TypeError.

In [ ]:
int(12 + 45.2j)

In [ ]:
int(-5j)

El argumento de la siguiente celda es **None**, el cual no puede ser representado por algún valor numérico, lo que desencadenará un error de tipo **TypeError**.

In [ ]:
int(none)

## La función float().

Transforma a un objeto de tipo compatible que se ingrese como argumento a uno de tipo float.

La sintaxis es la siguiente:

`float(<objeto>)`


*   Puede convertir objetos de tipo **str** que contengan una representación correcta a un número real.
*  Es compatible con los objetos tipo int.
*   **True** es convertido en **1.0**
*  ** False** es convertido en **0.0.**
*   No es compatible con objetos tipo **complex**.


**Ejemplos**:

El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función **float()** podrá realizar la conversión correctamente.

In [ ]:
float("-12.6")

El argumento de la siguiente celda no contiene una representación correcta de un número, por lo que la función **float()** será incapaz de realizar la conversión y desencadenará un error de tipo **ValueError**.

In [ ]:
float('Hola')

El argumento de la siguiente celda es un objeto de tipo int, por lo que la función float() será capaz de realizar la conversión.

In [ ]:
float(-5)

El argumento de la siguiente celda es un objeto de tipo complex, por lo que la función **float()** será incapaz de realizar la conversión y desencadenará un error de tipo **TypeError**.

In [3]:
float(12.5 + 33j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [ ]:
float(True)

In [ ]:
float(None)

## La función complex().

Transforma a un objeto compatible a uno de tipo **complex.**

* Convierte objetos de tipo **str** que contengan representen correctamente a un **número real**.
* Transforma en un objeto de tipo complex a un par de números ya sean **int** o **float**.
* Si sólo se da un número int o float, este será identificado como el componente real y el componente complejo será 0j.


**Ejemplos:**

In [4]:
complex(3.5, 2)

(3.5+2j)

In [ ]:
complex(8.3)

In [ ]:
complex("23+5j")

In [ ]:
complex("23")

In [ ]:
complex("23+5j")

# **La función bool().**

Transforma en booleano a un objeto.

* El **0** equivale a **False**.
* El valor **None** equivale a **False**.
* Una colección **vacía** equivale a **False**.
* Cualquier otra cosa distinta es **True**.



**Ejemplos:**

In [5]:
bool(-3)

True

In [6]:
bool(2)

True

In [ ]:
bool((12, 4, 78))

In [ ]:
bool("Hola")

In [ ]:
bool("0")

In [ ]:
bool(0)

In [ ]:
bool("")

In [ ]:
bool({})

In [ ]:
bool(None)

## La función str().

Transforma a un objeto que es ingresados como argumento en una cadena de caracteres de tipo str.

La sintaxis es la siguiente:

str(<objeto>)
Prácticamente todos los objetos pueden ser transformados en una cadena de caracteres.

**Ejemplos:**

Las siguientes celdas transformarán un objeto a str.

In [ ]:
str(True)

In [ ]:
str(12 + 3.5j)

In [ ]:
str({'nombre': 'Juan'})

In [ ]:
str(b'saludos', encoding="ascii")

##**La funcion bytes()**

In [ ]:
bytes('saludos', encoding='utf-8')

In [ ]:
bytes(6)

In [ ]:
bytes(True)

In [ ]:
bytes(False)

In [ ]:
bytes(-1.4)

In [ ]:
bytes(12 + 3.5j)

In [ ]:
bytes({'nombre': 'Juan'})

# **Expresiones con operadores.**

Los operadores son signos o palabras reservadas que el intérprete de Python identifica dentro de sus sintaxis para realizar una acción (operación) específica.



```
<objeto 1> <operador> <objeto 2>
<objeto 1> <operador 1> <objeto 2> <operador 2> .... <operador n-1> <objeto n>
```


**Ejemplo:**

In [ ]:
15 * 4 + 1 / 3 ** 5 #60+1/3^5=60+1/243

##**Operador y descripcion**

+Suma

-Resta

*Multiplicación

**Exponente

/División

//División entera

%Residuo

##Operadores aritméticos.
Los operadores aritmétricos permiten realizarf operaciones de esta índole con objetos numéricos.

Nota: Aún cuando no afecta a la sintaxis, el uso de espacios entre los operadores aritméticos mejora la comprensión de las operaciones. Para mayor referencia remitirse al PEP-8.

**Ejemplos:**
Las siguientes celdas ejemplifican el uso de operadores aritméticos.

In [ ]:
3 + 2

In [ ]:
3 - 2

In [ ]:
3 * 2

In [ ]:
3 ** 2

In [ ]:
3 ** 0.5 #raiz cuadrada de 3

In [ ]:
3 / 2

In [ ]:
3 // 2 # int(3/2)

In [ ]:
8 % 5 # 8(mod5); se refiere a que si divide 8 entre 5, cuanto me sobra?

In [ ]:
24 % 5

In [ ]:
# las 17 horas que hora es en formato <=12
17 % 12

In [ ]:
23 % 7

### Reglas de precedencia en operaciones aritméticas.

Los operadores se apegan a la siguiente regla de precedencia siguiendo una secuencia de izquierda a derecha:

* Paréntesis.
* Exponente.
* Multiplicación.
* División.
* Suma.
* Sustracción.

**Ejemplos:**

La siguiente celda realizará una operación entre números enteros apegada a las reglas de precedencia descitas previamente:



1.   Se ejecutará 4 ** 2, lo que dará por resultado 12 * 5 + 2 / 16.
2.   Se ejecutará 12 * 5, lo que dará por resultado 60 + 2 / 16
3.   Se ejecutará 2 / 16, lo que dará por resultado 60 + 0.125

In [ ]:
12 * 5 + 2 / (4 ** 2)

In [ ]:
15 / 5 % 3 # el % va intermedio entre sumas y productos; divisiones y multiplicaciones --> congruencias --> sumas y restas

Las siguientes celdas incluyen paréntesis, los cuales permiten **agrupar** operaciones aritméticas.

In [ ]:
(12 * 5) + (2 / (4 ** 2))

In [ ]:
(12 * 5) + (2 / 4) ** 2

In [ ]:
(12 * (5 + 2) / 3) ** 2

También la **conversión** entre tipo de datos entra en la jerarquía de operaciones.

In [ ]:
(12 * 5) + (2 / (4 ** int("2")))

En Python 3 las divisiones entre objetos de tipo int dan como resultado un objeto de tipo float. En Python 2 las divisiones entre objetos de tipo int dan por resultado la parte entera de la división.

**Ejemplos:**


```
>>> 3 / 4
0
>>> 10 / 5
2
>>>
```

**Operadores para colecciones ordenadas.**

Los objetos de tipo *str, bytes, bytearray list y tuple* permiten utilizar los siguientes operadores.

El operador de ***concatenación +***.
Este operador se utiliza para unir una después de otra a colecciones del mismo tipo en una nueva colección.

`<colección 1 > + <colección 2>`

**Ejemplos:**

Las siguientes celdas ejemplifican operaciones válidas con el operador **+**.

In [ ]:
"hola" + "mundo"

In [ ]:
"hola" + " " + "mundo"

In [ ]:
"hola "+"mundo"

In [7]:
[1, 2, 3] + ['uno', 'dos']

[1, 2, 3, 'uno', 'dos']

La siguiente celda intentará utilizar el **operador +** con colecciones que soportan a dicho operador pero son de distinto tipo, lo cual desencadenará un error de tipo **TypeError.**

In [8]:
[1, 2, 3] + ('uno', 'dos', 'tres')

TypeError: can only concatenate list (not "tuple") to list

La siguiente celda intentará utilizar el **operador +** con el objeto 3 que no soporta a dicho operador, lo cual desencadenará un error de tipo TypeError.

In [ ]:
'hola' + 3

Si quisieramos concatenar la palabra hola con el **sìmbolo** del **número 3**, la sintaxis serìa:

In [ ]:
"hola"+str(3)

## El operador de repetición *.

Este operador se utiliza para crear una colección que contiene el contenido de una colección que se repite un número determinado de veces.

`<colección > * <n>`

Donde `<n>` es un número entero.

Nota: El orden de los factores no altera al producto.

**Ejemplos:**

In [ ]:
'hola' * 3

In [ ]:
3 * 'hola'

In [ ]:
(None,) * 6 # no es lo mismo que (none)

In [ ]:
(None)

In [ ]:
[1, 2, 3] * [3]

In [ ]:
[1,2,3] * 3

##**Operadores de asignación.**

Los operadores de asignación se utilizan para enlazar a un nombre con un objeto/valor en el espacio de nombres.

El operador de asignación = es el más conocido, sin embargo existen otros operadores de asignación tales como

**Ejemplos:**

A continuación se ejemplifica el uso de algunos operadores de asignación.

In [ ]:
x = 2

In [ ]:
x

In [ ]:
x += 3 # x = x + 3

In [ ]:
x

In [ ]:
x **= 3 # x = x ** 3

In [ ]:
x

In [ ]:
x //= 14.2 # x = x // 14.2

In [ ]:
x

In [ ]:
x %= 1.5 # x = x % 1.5

In [ ]:
x

In [ ]:
tupla = (1, 2, 3)

In [ ]:
tupla += ('cuatro', 'cinco', 'seis') # x = x + y

In [ ]:
tupla

##**Expresiones lógicas.**

Operadores de evaluación.

Estos operadores evalúan si dos expresiones cumplen con una condición específica. El resultado de esta evaluación es un objeto de tipo **bool.**

**Ejemplos:**

La siguiente celda evalúa si los valores de los objetos "hola" y 'hola' son iguales. El resultado es **True**.

In [ ]:
"hola" == 'hola'

**La** siguiente celda evalúa si los valores de los objetos "hola" y 'Hola' son distintos. El resultado es True.

In [10]:
"hola" != 'Hola'

True

In [ ]:
"hola" == "Hola"

La siguiente celda evalúa si el valor de5 es mayor que 3 . El resultado es **True.**

5 > 3

In [11]:
5 > 3

True

La siguiente celda evalúa si el valor de5 es menor o igual que 3 . El resultado es **False.**

In [13]:
5 <= 3

False

La siguiente celda evalúa si el resultado de la expresión 2 * 9 ** 0.5 es igual a 6 . El resultado es **True.**

In [14]:
2 * 9 ** 0.5 == 6

True

La siguiente celda evalúa si el resultado de la expresión (2 * 9) ** 0.5 es igual a 6 . El resultado es **False.**

In [ ]:
(2 * 9) ** 0.5 == 6

In [ ]:
(2 * 9) ** 0.5

In [16]:
lista1 = [11,11,5]
lista2 = [11,11,5]
lista1 < lista2

False

##**Operadores de identidad.

los operadores **is** e **is not** evaluan si un identificador se refiere exactamente el mismo objecto o pertenece a un **tipo**

**Ejemplos**

In [ ]:
a = 45
b = 45

In [ ]:
a is b

In [ ]:
type("Hola") is str

In [ ]:
type("Hola") is not complex

In [ ]:
True == 1

In [ ]:
type(True) is not 1

## Operadores de pertenencia.

Los operadores **in** y **not in** evalúan si un objeto se encuentra dentro de otro. Esto implica implícitamente que el segundo objeto es una colección.

**Ejemplos:**

In [ ]:
'a' in 'Hola'

In [ ]:
'z' in ' Hola'

In [ ]:
'la' not in 'Hola'

In [ ]:
'z' not in 'Hola'

In [ ]:
x=234
y=str(234)

In [ ]:
y

In [ ]:
str(2) in y

In [ ]:
type(y)