<a href="https://colab.research.google.com/github/05-cam/colab/blob/main/CLASE_7_CADENAS_ENTRADAS_Y_SALIDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Entrada y salida estándar.

En la actualidad existen muchas fuentes desde las que se puede obtener y desplegar la información que un sistema de cómputo consume, gestiona y genera. Sin embargo, para el intérprete de Python la salida por defecto (salida estándar) de datos es la terminal de texto y la entrada estándar es el teclado.

En el caso de las notebooks de Jupyter, cada celda de código representa a la entrada estándar mediante:

`In[ ]:`

Y la salida estándar mediante:

`Out[ ]:`

**Ejemplo:**

In [ ]:
3 * "hola"

## Salida estándar con la funcion print().

En Python 3, la función print() se utiliza para desplegar información en la salida estándar.

La sintaxis es la siguiente:

`print(<expresión 1>, <expresión 2>, ...<expresión n>)`

La función **print()** evalúa y despliega una o varias expresiones.
Si el resultado de la expresión es un objeto str, este es desplegado sin los apóstrofes o las comillas que lo delimitan.

**Ejemplos:**


La siguiente celda define el nombre a con valor igual a 2.

In [ ]:
a = 2

La siguiente celda evalúa la expresión a, por lo que desplegará 2.

In [ ]:
print(a)

*Nótese, sin embargo, que el tipo de print(a) es Nonetype*

In [ ]:
type(print(a))

In [ ]:
type(a)

La siguiente celda desplegará el mensaje dentro del objeto "Hola".

In [ ]:
print("Hola")

En la siguiente celda la función **print()** desplegará dos expresiones que corresponde cada una a un objeto de tipo **str**. Cada objeto será desplegado separado por un espacio.

La salida será **Hola Mundo**.

In [ ]:
print("Hola","Mundo")

In [ ]:
dinero=30

In [ ]:
print("hoy gabe $"+str(dinero),"en mi trabajo")

En la siguiente celda la función **print()** desplegará el resultado de una expresión de concatenación entre dos objetos de tipo **str.** El resultado es un objeto str.

La salida será *HolaMundo.*

In [ ]:
print("Hola"+"Mundo")

En la siguiente celda la función **print()** desplegará tres expresiones que corresponden a:

El objeto 'Tienes' de tipo **str**.
El objeto 2 de tipo **int** ligado al nombre a.
El objeto 'buenos amigos' de tipo **str**.
Cada expresión será desplegada separada por un espacio.

La salida será *Tienes 2 buenos amigos*.

In [ ]:
print("TIenes",a, "buenos amigos")

En la siguiente celda la función **print()** intentará desplegar el resultado de la expresión "Tienes" + a + "buenos amigos.", la cual no es correcta y generará un error de tipo **TypeError**.

In [ ]:
print("Tienes" + a + "buenos amigos.")

In [ ]:
print("Tienes" + str(a) + "buenos amigos.")

##**Despliegue con formato.**

Para intercalar valores dentro de un formato específico de texto se utiliza el caracter sobre-escritura definido como el signo de porcentaje % seguido de algún caracter que definirá el modo de desplegar la expresión correspondiente.

`print("...%<caracter>..." % expresión 1)
print("...%<caracter 1>...%<caracter n>..." %(<expresión 1>,...<expresión n>))`

El uso de %s, equivale a aplicar la función **str() **al valor a desplegar.

**Ejemplos:**

In [ ]:
pi = 3.141592
radio = 2

In [ ]:
print("El perimetro de un circulo de radio %d tiene area 5f" % (2, pi*radio**2))

In [ ]:
print("El perimetro de un circulo de radio %d es %d" % (radio, 2 * radio * pi))

In [ ]:
print("El perimetro de un circulo de radio %s es de %s" % (radio, 2 * radio * pi))

In [ ]:
print("El valor de pi es %f" %(pi))

In [ ]:
print("el valor de pi es %e" %(pi))

Para desplegar el signo de pocentaje **%** se utiliza **%%**

In [ ]:
valor = 13
porciento = 15
porcentaje = (valor * porciento)/100
print("El %d%% de %d es %f" % (porciento, valor, porcentaje))

**Despliegue de cifras significativas.**

Para desplegar un número específico de cifras significativas de un valor de punto flotante, se añade un punto . y el número de cifras a desplegarse después del signo de porcentaje **%** y antes del carácter **f** o **e**.

`%.<n>f`

**Ejemplos:**

In [ ]:
pi = 3.14169265
radio = 2

In [ ]:
print("El perimetro de un circulo de radio igual a %d es %.129f" % (radio, 2 * pi * radio))

**f strings**

A partir de Python 3.6 podemos "prescindir" de format y aplicar directamente mediante un f-string. Nótese la letra f antes del string:

In [ ]:
curso1 = "Fundamentos de programacion"
instructor1 = "Felipe"
instructor2 = "Javier"
edad = 40

In [ ]:
print(f"Hola. soy {instructor1} {instructor2} de la UAT, y tengo {edad} años. Bienvenidos a {curso1}.")

##**Caracteres de escape.**

Existen algunos caracteres que por su función o por la sintaxis de Python -tales como los apóstrofes, las comillas, los retornos de línea, etc.- que deben utilizar un "caracter de escape", para que puedan ser desplegados. Los caracteres de escape pueden ser introducidos después de una diagonal invertida .

**Ejemplo:**

In [ ]:
print("Primeralinea.\nsegunda linea\tcon tabulador.")

In [ ]:
print("Este es el signode \"gato\"\x23.")

In [ ]:
print("Beta: \u00DF")

In [ ]:
print('I \u2764 YOU!')

**Entrada estándar con la función input().**

La función por defecto de entrada estándar para Python 3 es **input().**

La función **input()** captura los caracteres provenientes de entrada estándar (el teclado) hasta que se introduce un retorno de carro Intro y el contenido capturado es devuelto al intérprete como una cadena de texto.

La cadena de caracteres resultante puede ser almacenada como un objeto de tipo **str** mediante la asignación de un nombre.

La función permite desplegar un mensaje de tipo str como parámetro.

`input(<objeto tipo str>)`

**Ejemplos:**

In [ ]:
input()

In [ ]:
texto = input()

In [ ]:
texto

In [ ]:
print("Son las %s" %(texto))

In [ ]:
nombre = input("Escribe un nombre: ")
print(nombre)

##**Strings.**

El tipo tipo str. Este tipo de datos es una colección ordenada, indexable numericamente e inmutable de caracteres.

Para definir un objeto de tipo str es necesario delimitarlo ya sea con comillas " o con apóstrofes.

Es posible incluir caracteres de escape antecedidos por la diagonal invertida \ tales como los que se muestran en la siguiente tabla.

Estos caracteres de escape serán interpeteados por funciones de despliegue tales como print().

Ejemplos:

Las siguientes celdas definen objetos str.

In [ ]:
'Hola, mundo.'

In [ ]:
'Hola, mundo.'

In [ ]:
"Vamos a MacDonald's"

In [ ]:
""

El siguiente objeto **str** incluye caracteres de escape, los cuales serán interprertados mediante la función **print().**

In [ ]:
'Esta es la primeralinea.\nEsta es la segunda linea \tcon tabulador.'

In [ ]:
print("Esta es la primera linea.\nEsta es la segunda linea \t con tabulador.")

## Indexado de los objetos **str.**
Los objetos de tipo str pueden ser indexados numéricamente.

**Ejemplos:**

A continuación se mostrarán algunos ejemplos de indexado de objetos str.

In [ ]:
'Hola, mundo'[1]

In [ ]:
'Hola ], mundo'[-5:-2] # esto se debe a que Python aplica lo que se conoce rebanado

In [ ]:
"hola, mundo"[2:8]

In [ ]:
"hola, mundo"[2:]

In [ ]:
'Hola, mundo'[ : : -1]

In [ ]:
"1331"[::-1] == "1331"

In [ ]:
a = input("dame un numero entero posistivo\n")

In [ ]:
a[::-1] == a

# Inmutabilidad de los objetos de tipo str.

Los caracteres contenidos en un objeto de tipo str no pueden ser modificados usando el operador **=** ni eliminados con del.

**Ejemplo:**

A continuación se intentarán modificar y eliminar elementos del objeto str con nombre saludo, lo cual desencadenará errores de tipo **TypeError**.

In [ ]:
saludo = "Hola, amigos"

In [ ]:
saludo[1]

In [ ]:
saludo[4:]

In [ ]:
saludo[1] = '0'

In [ ]:
del saludo[1]

# Métodos de los objetos tipo str.

El tipo str cuenta con diversos métodos que permiten realizar muy variadas opertaciones con este tipo de objetos.

## El método **lower().**

Convierte la cadena de caracteres en minúsculas.

`<objeto str>.lower()`

**Ejemplo:**

In [ ]:
'Hola, amigos'.lower()

In [ ]:
"Hola, soy Goku".lower()

## El método upper().

Convierte la cadena de caracteres en mayúsculas.

`<objeto str>.upper()`

**Ejemplo:**

In [ ]:
'Hola, amigos.'.upper()

## El método capitalize().

Convierte al primer caracter del texto en mayúscula y el resto en minúsculas.

`<objeto str>.capitalize()`

**Ejemplo:**

In [ ]:
'hola, amigos.'.capitalize()

Otros metodos enfocados en formato son:

**El método title().**

Convierte al primer caracter de cada palabra en mayúsculas y los otros en minúsculas.

**El método swapcase()**.

Transforma los caracteres que están en minúsculas a mayúsculas y los que están en mayúsculas a minúsculas.

**El método casefold().**

Transforma el texto en un formato de minúsculas que permita compararlo con otro texto

**El método center().**

Regresa un objeto str de un tamaño específico en el que el texto original se encuentra centrado.


**El método ljust().**

Regresa un objeto str de un tamaño específico en el que el texto original se encuentra ajustado a la izquierda.


**El método rjust().**

Regresa un objeto str de un tamaño específico en el que el texto original se encuentra ajustado a la derecha.

**El método strip().**

Regresa un objeto str que elimina los espacios (o el caracter que se especifique) que rodee a un texto.

**El método lstrip().**

Regresa un objeto str que elimina los espacios (o el caracter que se especifique) que se encuentren a la izquerda de un texto.

**El método rstrip().**

Regresa un objeto str que elimina los espacios (o el caracter que se especifique) que se encuentren a la derecha de un texto.

Métodos de unión y separación.

El método join().
Regresa un objeto de tipo str que contiene una secuencia de objetos de tipo str los cuales corresponden a los elemento de un objeto iterable que es ingresado como argumente, utilizando al objeto original str como separador entre cada elemento.

`<objeto str>.join(<objeto iterable>)`

**Donde:**

`<objeto iterable>`

 es un objeto iterable que contiene a varios objetos de tipo str.


**Ejemplos:**

La siguiente celda regresará al objeto *'Hugo, Paco, Luis'.*

In [ ]:
"_".join (["Hugo", "Paco", "Luis"])

La siguiente celda regresará al objeto '1 + 2 + 3 + 4'.

In [ ]:
" + ".join(("1", "2", "3", "4"))

La siguiente utilizará a la función eval() para realizar la suma del objeto '1 + 2 + 3 + 4' creado mediante la expresión " + ".join(("1", "2", "3", "4")).

In [ ]:
eval(" + ".job(("1", "2", "3", "4")))

La siguiente celda utiliza como argumento a un objeto de tipo dict. En este caso el método join() extraerá solamente las claves del objeto y regresará el objeto 'nombre, apellido'

In [ ]:
' * '.job({'nombre':'Juan', 'apellido': 'Perez'})

**El método partition().**

Este método busca dentro del objeto str el texto contenido en otro objeto str que se ingresa como argumento, realizando la búsqueda de izquerda a derecha.

En caso de que encuentre una coincidencia, regresará un objeto de tipo tuple el cual contiene:

Un objeto str que contiene el texto a la derecha del texto encontrado.
Un objeto str que contiene al texto encontrado.
Un objeto str que contiene el texto a la izquerda del texto encontrado.
En caso de que no exista una coincidencia, regresará un objeto de tipo tupleel cual contiene:

Al objeto str original.
Dos objetos str vacíos.

`<objeto str>.partition(<cadena>)`

**Donde:**

**`<cadena>`** es un objeto str que contiene al texto que será buscado.
Ejemplos:

In [ ]:
"Hugo, Paco, Luis".partition(",")

In [ ]:
"Hugo, Paco, Luis".partition(+)

## El método split().

Este método realiza una búsqueda de izquierda a derecha dentro del objeto str original de todas las coincidencias del texto contenido en otro objeto str que se ingresa como argumento. El metodo regresará un objeto de tipo list con todos los segmentos de texto que se encuentren separados por el texto buscado.

`<objeto str>.split(<cadena>)`

**Donde:**

<cadena> es un objeto str que contiene al texto que será buscado.

**Ejemplos:**

In [2]:
"Hugo Paco Luis".split(" ")

['Hugo', 'Paco', 'Luis']

In [ ]:
"Hugo, Paco, Luis".split(",")

In [ ]:
"Hugo, Paco, Luis".split(+)

## El método splitlines().


Este método identifica los caracteres de escape de de línea **"\n"** dentro del objeto str y regresa un objeto de tipo list conteniendo cada línea identificada.

En caso de no encontrar caracteres de escape de retorno de línea, regresará un objeto de tipo list conteniendo al objeto str original.

`<objeto str>.splitlines()`

**Ejemplo:**

La siguiente celda se definirá al objeto str llamado nombres, el cual continene 2 caracteres de escape de retorno de línea.

In [ ]:
nombres = "Hugo.\nPaco.\nLuis."

In [ ]:
print(nombres)

La siguiente celda regresará a un objeto de tipo list con cada línea.

In [ ]:
nombres.splitlines()

In [ ]:
himno = "Mexicanos al grito de guerra\nel acero apestad y el bridon"
himno.splitlines()

## El método index().

Este método realiza una búsqueda de izquierda a derecha dentro del objeto str de una cadena de caracteres que es ingresada como argumento y regresa el índice donde inicia la cadena encontrada. En caso de no encontrar coincidencia, se generará un error de tipo ValueError.

`<objeto str>.index(<cadena>)`

**Donde:**

**<cadena>** es un objeto str que contiene al texto que será buscado.

**Ejemplos:**

In [8]:
'Luis, Hugo, Paco, Luis'.index('Paco')

12

In [9]:
'Luis, Hugo, Paco, Luis'.index('Luis')

0

In [10]:
"Luis, Hugo, Paco, Luis".index("Juan")

ValueError: substring not found

## El método replace().

Este método realiza una búsqueda dentro del objeto str de una cadena de caracteres que es ingresada como primer argumento, regresando un nuevo objeto str en el cual la cadena de búsqueda es sustituida por la cadena que se ingresa como segundo argumento.

En caso de no encontrar coincidencias, el método regresa al objeto str original.

`<objeto str>.replace(<cadena de búsqueda>, <cadena de sustitución>)`

**Donde:**

**<cadena de búsqueda>** es un objeto str que contiene al texto que será buscado.

**<cadena de sustitucióm>** es un objeto str que contiene al texto que será sustituido.

**Ejemplos:**

In [ ]:
'Luis, Hugo, Paco, Luis'.replace('Luis', 'Juan Antonio')

In [ ]:
comparacion = "Luis, Hugo, Paco, Luis".replace("luis","x").split()
original = 'Luis, Hugo, Paco, Luis'.split()

In [ ]:
sum([comparacion[x] != original[x] for x in range(0,len(original))])

In [ ]:
'Luis, Hugo, Paco, Luis'.replace('Pedro', 'Juan')